$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  text-align: center;
}

.sub-heading {
  font-size: 8px;
  margin-top: -10px;
}
.container {
 padding-top: 50px;
}


.row {
  display: flex;
  justify-content: center;
}

.box {
  border: 1px solid black;
  height: 100px;
  width: 100px;
}
/*.row > div {
  padding-top: 20px;
}*/
