$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  text-align: center;
  margin-top: 50px;
  background-color:#3973ac;
  color: #FFFFFF;
  font-family: 'Racing Sans One', cursive;
}

.sub-heading {
  font-size: 8px;
  margin-top: -10px;
}
.container {
 padding-top: 50px;
}

form {
  font-family: sans-serif;
}

h1 {
  font-size: 60px;
}
h3 {
  margin-top: -10px;
}


.row {
  display: flex;
  justify-content: center;
}

.box {
  border: 1px solid black;
  height: 100px;
  width: 100px;
}
/*.row > div {
  padding-top: 20px;
}*/
